/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  max-width: 1024px;
  margin: 0 auto;
}

.grid > * {
  padding: 15px;
  grid-column: col-start / span 12;
}
